{% extends 'base.html' %}
{% load static %}
{% block content %}
	<h2>Změna hesla uživatele {{user}}</h2>
	<div class="content">
        <div class="column">
            <form action="{% url 'FestivalReservations:ChangePasswordAdmin' pk %}" method='POST'> {% csrf_token %}
                {{form.as_p}}
                <input class="save_button" type='submit' value='Změnit heslo' />
            </form>
        </div>
        
        {%if success == 0%}
        <p>Heslo bylo úspěšně změněno.</p>
        {%elif success == -1%}
        <p>Hesla se neshodují</p>
        {%endif%}
    </div>
	
{% endblock %}